.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}
  
.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}


.searchResult__star {
    color: red;
}


.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResults__price > p {
    text-align: right;
}

.searchResults__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

@media (max-width: 768px){
    .searchResults__price > p {
        margin-top: 1px;;
    }
    
    .searchResults__price > h2 {
        text-align: right;
        margin-bottom: 1px;;
    }

    .searchResults__price {
        bottom: 0px;
    }
}

@media (max-width: 576px){
    .searchResult {
        display: inline-block;
    }
    
    .searchResult > img {
        height: 180px;
        width: 290px;
    }
    
    
    .searchResult__heart {
        position: absolute;
        top: 210px;
        right: 40px;
    }
    
    .searchResult__infoTop {
        width: 70vw;
    }
    
    .searchResult__infoTop > p {
        margin-top: 10px;
        font-size: 13px;
        color: gray;
    }

    .searchResults__price > p {
        margin-top: 1px;;
    }
    
    .searchResults__price > h2 {
        text-align: right;
        margin-bottom: 1px;;
    }

    .searchResults__price {
        bottom: 0px;
    }
}

@media (max-width: 540px) {
    .searchResult > img {
        height: 200px;
        width: 450px;
    }

    .searchResult__heart {
        top: 240px;
    }
}

@media (max-width: 414px) {
    .searchResult > img {
        height: 200px;
        width: 330px;
    }

    .searchResult__heart {
        top: 230px;
    }
}
